@model IEnumerable<WebApplication11.Models.StudentViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                    StudentId
            </th>
            <th>
                Fullname
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.StudentId
            </td>
            <td>
                @item.Fullname
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Phone
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.StudentId }) |
             
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
            </td>
        </tr>
}
    </tbody>
</table>
